#portfolioContainer{
    padding-top: 66px;
    padding-bottom: 58px;
}

#fullPortfolio{
    background-image: url(../../assets/cool-background.svg);
    background-size: 120%;
    background-repeat: no-repeat;
}

.projectImages{
    height: 180px;
}

.projectCards{
    transition: 0.4s;
}

.projectCards:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px #0258ff;
}