#portfolioContainer{
    padding-top: 66px;
    padding-bottom: 58px;
}

#fullPortfolio{
    background-image: url(../../assets/cool-background.svg);
    background-size: 120%;
    background-repeat: no-repeat;
}

.projectImages{
    height: 15vh;
}