/* Home Component */
h2{
    font-size: 45px !important;
}

/* Title Screen */
#titleScreen{
    background-image: url("../../assets/cool-background.svg");
    background-size: 120%;
    background-repeat: no-repeat;
    padding-top: 66px;
}

#titleHeading{
    font-size: 60px;
}

#titleName{
    font-size: 80px;
    text-decoration: underline;
    color: white;
}

/* Intro Container */
#introContainer{
    margin-top: 10rem;
    margin-bottom: 5rem;
}

/* Tech Card Container */
#homeCardContainer{
    background-image: url("../../assets/bottom-home-background.svg");
    background-position-y: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 58px;
}

/* Tech Cards */
.techCard{
    transition: 0.4s;
}

.techCard:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px #0258ff;
}