.techCard{
    transition: 0.4s;
}

.techCard:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px #ff006e;
}

#titleScreen{
    background-image: url("../../assets/cool-background.svg");
    background-size: 120%;
    padding-top: 66px;
}