#contactContainer{
    padding-top: 66px;
    padding-bottom: 58px;
}

#fullContact{
    background-image: url(../../assets/cool-background.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}