.navbar{
    background: transparent;
    margin-bottom: -66px;
}

.navbar.active{
    background: #1b1a2ea9;
    backdrop-filter: blur(15px);
}

.nav-item{
    color: white;
    display: inline-block;
    position: relative;
    font-size: 22px;
    font-weight: 100;
}

.nav-item:hover{
    color:white;
}

.nav-item::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -1px;
    left: 0;
    border-radius: 16px;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.nav-item:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}