#footerContainer{
    background: transparent;
    margin-top: -82px;
}

.footer-title{
    font-style: italic;
    color: rgb(109, 109, 109);
    font-size: 10px;
}

.footerSocialIcons{
    color: black;
}

.footerSocialIcons:hover{
    color: #0258ff;
}